// 1. Import the initial variables
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$family-serif: "Open Sans", serif;
$primary: #388e3c;
$primary-invert: #fff;
$danger: $orange;
$family-primary: $family-serif;
$card-footer-background-color: #638e65;

.card-footer {
  a {
    color: #fff;
  }

  a:hover {
    color: #fff;
  }
}

dt {
  font-weight: 600;
}
@import '~bulma/bulma.sass'
