// 1. Import the initial variables
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$family-serif: "Open Sans", serif;
$primary: #81A8B8;
$primary-invert: #fff;
$danger: $orange;
$family-primary: $family-serif;
$card-footer-background-color: #E8F3F8;
$footer-background-color: #C2CBCE;

dt {
  font-weight: 600;
}
@import '~bulma/bulma.sass'
