<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="{{ path('home') }}">
                Wiki Loves Earth 2018 - Chile
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {% block titulo %}Estadísticas generales{% endblock %}
          </h1>
          <h2 class="subtitle"></h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">

        {% block body %}{% endblock %}
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Wiki Loves Earth Chile 2018</strong>
          <br/>
          <a href="https://wle.cl">Página del concurso</a>
          &middot;
          <a href="https://wikimedia.cl">Wikimedia Chile</a>
          &middot;
          <a href="https://twitter.com/search?src=typd&q=%23wleChile" target="_blank">#WLEChile</a>
          <br>
          <br/>
          <small>Desde Chile con el
            <i class="fas fa-heart"></i>
            para el mundo &middot;
            <a href="https://github.com/WikimediaChile/stats-wle">¡Ver este código en github!</a>
          </small>
        </p>
      </div>
    </footer>
    {% block javascripts %}{% endblock %}
  </body>
</html>
